<!DOCTYPE html>
<html lang="zh-Hans">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no">

   <meta name="copyright" content="FT中文网">
   <meta name="robots" content="index,follow">
   <meta name="author" content="FT中文网">
   <meta property="og:site_name" content="缅甸"/>
   <meta property="og:type" content="article"/>
   <meta property="og:title" content="- FT中文网"/>
   <meta property="og:description" content="缅甸" />
   <meta property="og:image:url" content=""/>
    
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" /> 
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">

    <link href="/favicons/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <title>緬甸 - FT中文网</title>
    
    
    <!-- build:css styles/bundle.min.css -->
    <link rel="stylesheet" type="text/css" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <!-- endbuild -->
{{#analytics}}
{{> views/analytics}}
{{/analytics}}

    </head>

<body>
<!-- Cover Image added to the following `img` src -->
<img class="cover-image" src="../images/hla_own_min_2560-lr_mnsuz50.jpg" />

  <header class="header">
      <div class="header-logo-panel">
          <h1>
              <a class="header-logo" href="http://www.ftchinese.com/" alt="FT中文网" title="FT中文网">FT中文网</a>
              <a class="feature-title" href="">調查报道</a>
              <a class="series-title" target="_blank" href="https://ig.ft.com/sites/land-rush-investment/myanmar/">English</a>
          </h1>
      </div>

      <div class="o-share" data-o-component="o-share"></div>

      <div class="small-menu"></div>          
  </header>

  <nav class="nav__toc hide-on-small" role="navigation"></nav>

  <main>
    <article class="story" role="main">
        <header id="nav-target-1" class="story-cover text-over-media nav-target">
            <div class="text-wrapper">
                <h1 class="headline">The great land rush</h1>

                <p class="lead">Myanmar: The dispossessed</p>  
              
            </div>
            <div class="article__time-byline">
              <time class="article__timestamp o-date" data-o-component="o-date" datetime="" title="">2016年3月</time>
              <p class="article__byline">作者</p>
            </div> 
        </header>

<!-- section 1  --> 
          <section class="section-1">
          <div class="text-over-media">
           <video class="section-video" autoplay muted loop>
              <source src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/myanmar_blinkie_7.mp4.mp4" type="video/mp4">
               <source src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/myanmar_blinkie_7.webm" type="video/webm">
             </video>
                <p class="section-head">1. The Lost Fields</p>
                <p class="section-lead"><em>Sichael Peel</em> reports from Myanmar where the end of dictatorship has unleashed a struggle over land</p>
          </div>

  
          <div class="content-column">

              <p>Hla Ohn May still weeps when she takes the road past the twisted white piping of the gas terminal near the western Myanmar town of Kyaukphyu. The 46-year-old farmer and mother of five once owned land on this green strip perched above the blue waters of the Bay of Bengal.</p>
              <p>Then she and fellow villagers were bought out by a consortium, which included the state-owned China National Petroleum Corporation and the Korean conglomerate Daewoo. Kyaukphyu is now the starting point for a pair of immense Beijing-backed transnational energy pipelines, turning these wild shores into what some are calling “China’s west coast”.</p>
              <aside class="aside">
                     <img src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/new_logo.png">
                     <p>Data Visualization box</p>
              </aside>
             
                 <p>The development is a big part of fast-opening Myanmar’s efforts to exploit its position at the crossroads of Asia. The lush fields where Ms Hla Ohn May and other farmers used to plant rice and beans are mere industrial landscaping now, manicured behind fences by company workers in orange jumpsuits. Ms Hla Ohn May was paid Kt2.78m ($2,250 at current exchange rates) but feels she was short-changed for giving up the only productive asset she ever had. </p>
                 <p>“Because we don’t have those lands any more, we became poor people who have to work as labourers for others,” she says of the gas terminal’s impact. “I cried everyday when I saw all those buildings.” </p>
             <div class="section-cover inline-video">
     
            <video autoplay muted loop>
            <source src="https://ig.ft.com/sites/land-rush-investment/myanmar/myanmar_pjiqzqp.mp4" type="video/mp4">
            <source src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/myanmar_fposetk.webm" type="video/webm">
             </video>
      
          </div>

             <p>For both would-be investors and the genuine reformers in Myanmar’s new government, conflict over land is a great spectre overshadowing their plans. A committee set up by parliament in 2012 to explore so-called <a href="https://www.ft.com/land" target="_blank">land grabs</a> since 1988 said in November that it had received about 17,000 complaints. Activists say these are a fraction of the number of actual disputes. Most of the alleged victims are farmers, in a country where as many as two-thirds of the population are estimated to depend directly or indirectly on agriculture. </p>
              <p>Land disputes cast a pall over the landslide win last year by Aung San Suu Kyi’s National League for Democracy. One of her first acts was to launch a litter-picking drive, in a symbolic beautification of a long-neglected country. But her party, and the old military elite that still looms large above it, have the much harder task of dealing with old grievances over land and finding ways to avoid creating new ones. The sustainability of the country’s internationally-lauded but fragile transition may depend on it. </p>
              <p>Myanmar’s land battles are also deterring investment in a country that wants more of it. They form one of the most significant risks identified by businesses coming in. That includes past land-grabbing by the state. Investors fear the horrors of contested ownership, with all the legal complications, financial penalties and bad publicity that it can bring. </p>

               <p>The battle for land is also a theme that resonates well beyond Myanmar. The country’s difficulties may be extreme, but its themes of speculation, tensions between big companies and local communities, and the loss of long-established livelihoods have a universal aspect. </p>
               <p>In a poor, mainly agrarian nation with many remote regions and areas outside government control, land is both a priceless material asset and an emotional entity that feeds into people’s sense of self. It is a crucial glue in society and clashes over it create a risk of unrest. </p>
               <p>“Land is not just a matter of a map or an area,” says Shwe Thein, head of the Land Core Group, an NGO focused on smallholder land rights in Myanmar. “Land rights are the basic requirement to ensure livelihoods and food security for people in this country. They are important for their culture, traditional practices and also their social cohesion. Land is their life.” </p>
        </section>
  <!-- Ad -->            
 <div class="ad-section">
          <div class="ad-wrapper">
            <p class="caption">广告之后 精彩继续</p>
            <div id="ad-container">I'm Ads</div>
        <div id="ad-storyview2" style="margin:auto;width:300px;height:50px;">
                             <iframe id="storyview1" src="/m/marketing/ad-mobile.html#adtype=banner-bottom-story&adid=storyview2" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="300" height="100%"></iframe>
                        </div>
          </div>
        </div>   

  <!-- section 2 -->
        <section id="nav-target-2" class="section-2 nav-target">
            <div class="section-cover text-over-media">

                  <p class="section-head">2. Ambition</p>
                  <p class="section-lead">‘对西方人来说，在华工作需要具备一套特别的技能——有时甚至对其他东亚国家的人来说也是如此’</p>
            </div>


            <div class="content-column">
                <p>Last year’s election marked a crucial step in Myanmar’s opening to the world after almost half a century of military rule. Its economic growth rates of more than 8 per cent and strategic position at the heart of Asia have drawn intense international interest since the generals stepped down in 2011. </p>
                  <p>McKinsey, the consultancy, has forecast that the economy could more than quadruple in size from its 2010 level to top $200bn by 2030. Consumer businesses have swarmed in, including Unilever, Coca-Cola and the brewers Heineken and Carlsberg. </p></p>
                <aside class="aside">
                  <img src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/3carlsberg-mr_voued4u.jpg">  
                  <p>
                   Carlsberg's $75m brewery in Bago, &nbsp;a joint venture with Myanmar Golden Star Breweries, &nbsp;opened in 2015. <i>Bloomberg</i>
                  </p>
                </aside>      
                 <p>The country is also blessed with rich natural resources. <a href="http://www.ft.com/cms/s/0/bb0e732c-fc6e-11e3-86dc-00144feab7de.html#axzz3yw5FN3fQ" target="_blank">Oilfield auctions</a> since the end of absolute military rule have attracted players ranging from Chevron of the US, the Netherlands and UK’s Royal Dutch Shell and India’s Reliance Industries to a Kazakhstan gas magnate and assorted local tycoons. </p>
                <p>Some extractive industries are dogged, however, by allegations of human rights abuses and corruption. The production of highly prized green jade has been estimated at $31bn annually, or almost half of official gross domestic product. Much of it is smuggled across the northern border to feed a market driven by China’s new rich. </p>
                <p>Myanmar has ambitions to become Asia’s next factory floor, as China grows more expensive and its workers more assertive. Gap and H&amp;M source clothes from factories in the industrial areas springing up and growing around Yangon, the country’s biggest city and commercial centre. Big hurdles ranging from infrastructure to electricity supply still need to be overcome, but labour costs are low. The minimum wage is just 36 cents an hour, compared with at least $1.65 an hour in China. </p>
                <p>The Myanmar authorities have launched plans for a network of industrial zones, in the hope of fuelling a boom. An area at the heart of the island on which Kyaukphyu is located is due to become a complex of more than 4,000 acres with deep-sea port facilities, factories and fisheries. Officials have touted the Kyaukphyu special economic zone as a “mini-Singapore”, potentially providing a trade corridor between China, Africa and the Middle East. </p>
            </div>

        </section>

       <div class="ad-section">
          <div class="ad-wrapper">
            <p class="caption">广告之后 精彩继续</p>
            <div id="ad-container">I'm Ads</div>
            <div id="ad-storyview2" style="margin:auto;width:300px;height:50px;">
            <iframe id="storyview1" src="/m/marketing/ad-mobile.html#adtype=banner-bottom-story&adid=storyview2" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="300" height="100%"></iframe>
            </div>
          </div>
        </div>      

  <!-- section 3 -->
       <section id="nav-target-3" class="section-3 nav-target">
            <div class="text-over-media">
              <video class="section-video" autoplay muted loop>
              <source src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/myanmar_blinkie_3.mp4.mp4" type="video/mp4">
               <source src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/myanmar_blinkie_4.webm" type="video/webm">
             </video>
                <p class="section-head">3. FLASHPOINTS</p>
                <p class="section-lead">‘There is every chance that anyone who buys land will find themselves in a dispute’</p>
            </div>

            <div class="content-column">
                 <p>The activity in Kyaukphyu (roughly pronounced Chaw-pyoo) has made it a hotspot for Myanmar’s international development and a crucible for its land disputes. This town, set on rugged coast, is one hour’s flight north-west of Yangon. Once a port developed by the British colonialists and the site of a late second world war battle between Allied and Japanese forces, Kyaukphyu now feels like frontier territory. Gas and oil workers passing through the tiny airport are diverted to immigration officials who check their passport details, even though they have arrived on a domestic flight. </p>
                 <p>The town itself projects a sense of slowgoing charm. But beyond the fishermen, beach footballers and beer-and-seafood shacks by the shore, Kyaukphyu is also a way station on a trade route that is geostrategically priceless to China. This littoral sliver of Rakhine state feels like the edge of something, looking out on to the open Indian Ocean. </p>
                 <p>Kyaukphyu links the Middle Kingdom to seaways towards south Asia, Africa, the Gulf and beyond. It cuts the long and sometimes perilous journey round the Strait of Malacca, which has long been a piracy hotspot. It also reduces China’s reliance on this crucial channel, to which the US Navy has access through its Southeast Asian regional allies. </p>
                  <p>Both the pipelines that start at Kyaukphyu run almost 800km through Myanmar territory to China’s Yunnan province. Each pipeline, about a metre wide, is hidden underground, the only sign of them a narrow cutting that ploughs through the surrounding vegetation. Signboards give passers-by a telephone number to call in case they notice problems. </p>
                  <p>The gas pipeline project started operations in 2013 and is the product of co-investment from the Myanmar government and five companies from China, Korea and India, including CNPC and Daewoo. South East Asia Gas Pipeline Company, as it is known, did not respond to questions from the Financial Times. </p>
                <aside class="aside">
                    <img src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/water_from_cpnc_in_madae_island_2012_-lr_jooxt1x.jpg" data-src755="https://ig.ft.com/sites/land-rush-investment/myanmar/media/water_from_cpnc_in_madae_island_2012_-mr_rtivasc.jpg" data-src0="https://ig.ft.com/sites/land-rush-investment/myanmar/media/water_from_cpnc_in_madae_island_2012_-lr_jooxt1x.jpg" alt="The China National Petroleum Company (CNPC), which has a headquarters in the pink-roofed buildings on Madae Island, Kyaukphyu, built a reservoir in 2012 to provide drinking water as part of its investment programme&amp;amp;nbsp;Xinhua\/Corbis; Reuters" title="The China National Petroleum Company (CNPC), which has a headquarters in the pink-roofed buildings on Madae Island, Kyaukphyu, built a reservoir in 2012 to provide drinking water as part of its investment programme&amp;amp;nbsp;Xinhua\/Corbis; Reuters">
                    <p>The China National Petroleum Company (CNPC), which has a headquarters in the pink-roofed buildings on Madae Island, Kyaukphyu, built a reservoir in 2012 to provide drinking water as part of its investment programme&nbsp;<i>Xinhua/Corbis; Reuters</i></p>
                </aside>
                 <p>Chinese state media had reported that the company created more than 6,000 jobs and provided work for more than 200 companies in Myanmar. The joint venture also donated $10m to improve the electricity network in Kyaukphyu. The oil pipeline, owned by another consortium that also includes CNPC, started pumping in 2015. </p>

                   <p>Beyond Kyaukphyu and the trail of the pipelines, the road narrows and leads to a village. In the morning, young men huddle in a dark tea shop watching an undubbed Hollywood movie on a flatscreen television. </p>
                    <p>A little farther down, villagers are sitting on a long bench by houses that overlook a clearing. Many of them are angry about what they say was the poor deal they received from the developers of the nearby gas terminal. Ms Hla Ohn May describes being approached in 2009 or 2010 by an official from that consortium, which is majority-owned by Daewoo. Ms Hla Ohn May says she was not given a choice to say no to the purchase, but was promised wealth and work instead. </p>
                    <p>“They said I will get a lot of money,” said Ms Hla Ohn May, whose five sons are aged between 11 and 26. “They said I will get a job. No one from other places will get a job, they said.” </p>
                    <p>She says a government official from the local land department came and measured her plot at 1.4 acres. But her payment, when it arrived, appeared to be for only half that area. She says she was promised the balance the following year, but never received it. She has been protesting since. </p>
                    <p>School fees and other expenses soon sucked up what she had been paid, but no job with the company appeared. So instead she had to work for Kt3,000 to Kt4,000 a day (about $2.40 to $3.20) as a casual labourer for another farmer. </p>
                     <aside class="aside">
                    <img src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/hla_own_min__700wide-lr_fn0dkkp.jpg" data-src755="https://ig.ft.com/sites/land-rush-investment/myanmar/media/hla_own_min__700wide-mr_ev6sijq.jpg" data-src0="https://ig.ft.com/sites/land-rush-investment/myanmar/media/hla_own_min__700wide-lr_fn0dkkp.jpg" alt="Hla Ohn May, centre, has had to take what work she can as a labourer since selling her land. She says she was never paid the amount she was promised" title="Hla Ohn May, centre, has had to take what work she can as a labourer since selling her land. She says she was never paid the amount she was promised">
                    <p>The China National Petroleum Company (CNPC), which has a headquarters in the pink-roofed buildings on Madae Island, Kyaukphyu, built a reservoir in 2012 to provide drinking water as part of its investment programme&nbsp;<i>Xinhua/Corbis; Reuters"</i></p>
                  </aside>
                 <p>“I can only eat when I work now,” she says. “I have to wish that someone will ask me to come and work for them. When I had my own land, I didn’t have to feel that way.” </p>
                 <p>Other villagers tell the same story of being hustled into deals. The country was still under military rule, when activists were still mostly underground and protest of any kind could cause problems. Nue Phyu, 43, says she received a little more than Kt280,000 ($230) in compensation for 0.21 acres. She was not happy, but did not feel she could say no, nor ask for purchase documents. She says she was never given copies. </p>
                 <p>“It wasn’t transparent and we didn’t know the law, so we just did it out of fear,” she says. </p>
                  <p>Other locals who were given company jobs say these took a long time to arrive and were precarious when they did. </p>
                  <p>Win Naing, 42, is one of the lucky ones. Wearing a white Daewoo shirt, orange jumpsuit and yellow wellies, he is preparing to start a shift planting flowers at the terminal complex. But he says he is only six days into the job, which pays $3.60 a day, and has no idea how long the work will last. “I work as a casual labourer on my own land,” he says. “I am doing it just to survive.” </p>
                    <aside class="aside">
                    <img src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/win_naing_upright_steve-lr_yjzcghc.jpg" data-src755="https://ig.ft.com/sites/land-rush-investment/myanmar/media/win_naing_upright_steve-mr_54uwam9.jpg" data-src0="https://ig.ft.com/sites/land-rush-investment/myanmar/media/win_naing_upright_steve-lr_yjzcghc.jpg" alt="Win Naing, who has a job planting flowers at the Daewoo terminal complex" title="Win Naing, who has a job planting flowers at the Daewoo terminal complex"</i></p>

                </aside>
                 <p>Life in the village has improved in some ways, partly because of investment brought directly or indirectly by the companies. The community now has a basic primary school and clinic. But the villagers note that the electricity is not free and say that the amenities do not make up for their lost livelihoods. </p>
                <p>“Before the land was captured we could still survive at least,” says Ms Nue Phyu. “But since we became manual labourers, we struggle really hard. We are farmers; if we lose our land, there is nothing we can do.” </p>
                 <p>Land disputes have triggered public protests by farmers around Kyaukphyu, including a 150-strong demonstration in June, according to Myanmar media. The conflict has also prompted a report critical of the pipeline project by the Myanmar-China Pipeline Watch Committee, a coalition of activists. It published research in January that concluded “growing discontent against large-scale projects . . . could lead to social instability and affect the economy”. </p>
                 <p>CNPC’s website says the pipeline project team paid compensation for acquired land in a “fair, transparent and legal manner”, based on local land prices, villagers’ demands and a quotation from the government. The results were mutually accepted and subject to government review and approval. </p>

                   <aside class="aside">
                    <img src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/shwe_at_700-lr_5mhb1qg.jpg">
                      <p> The gas terminal in Kyaukphyu &nbsp;<i>Nyaunt Win</i>/<i>EPA</i></p>
                </aside>

                <p>Daewoo, which operates the Kyaukphyu gas terminal, told the FT in emails that most villagers were satisfied with their payouts and only two had officially contested their deals. Ms Hla Ohn May asked for a reassessment and the consortium remeasured her property in the presence of village leaders. The size was found to have been recorded properly, although Daewoo acknowledged that the government’s land records department had failed to give the villagers the agreement documents. The company said it later tried to give those papers to community members directly, but the villagers refused to take them. </p>
                <p>Daewoo said it had offered 10 villagers affected by the land acquisition the chance to work as gardeners for a contractor on the terminal compound. The jobs would last up to nine months, the time the contractor was engaged. Only half of the villagers took the work, Daewoo said. </p>

            </div>  
        </section>



<!-- section 4 -->
        <section id="nav-target-4" class="section-4 nav-target">
            <div class="section-cover text-over-media">
                <p class="section-head">4. FLASHPOINTS</p>
                <p class="section-lead">‘There is every chance that anyone who buys land will find themselves in a dispute’</p>
            </div>

            <div class="content-column">
                 <p>Aung Kyaw Moe looks through the fence to the hotel zone which swallowed up his 14-acre holding near Inle Lake. Hear more of his story in the video at the bottom of this story</p>
                <p>The row over the Kyaukphyu pipelines may be just the beginning of a wider conflict in the area. The planned industrial zone nearby, to which the government is trying to attract investors, has also attracted criticism. Officials have said it will create a quarter of a million jobs and international rail, road and sea links. In December, it was announced that two consortiums led by China’s state-owned Citic conglomerate had won tenders to develop the industrial area and build a deepwater port. </p>
                 <p>But in April last year, advisers from the International Committee of Jurists, an advocacy group of judges and lawyers, wrote in a news article that the <a href="https://asiancorrespondent.com/2015/04/kyaukphyu-history-to-repeat-itself-in-burmas-newest-special-economic-zone/" target="_blank">zone was “displacing local communities</a> without proper compensation and accountability for loss of land and livelihoods”. </p>
                 <p>The Myanmar company overseeing the zone’s development said management had promised residents that resettlement plans would meet Asian Development Bank standards. This would include compensation for land as well as jobs, training and allocation of new agricultural land to those who wanted to continue to farm. </p>
                  <p>Around the country, foreign companies with ambitions to do business in Myanmar are only too aware that land can be a flashpoint. </p>
                            <p>H&amp;M, the Swedish retailer, began fully sourcing clothes from Myanmar suppliers in 2014. It says it required them to show documentation of their land acquisition and conduct legal reviews of the risks associated with each factory site’s history. If H&amp;M found uncertainties, it consulted non-governmental groups on the circumstances. </p>
                            <p>Heineken says it re-entered Myanmar with its “eyes wide open” about land rights. It sought advice from institutions and individuals including Human Rights Watch, the EU ambassador to Myanmar and the US embassy in Thailand. It used a law firm to analyse relevant land titles and did due diligence to make sure neither its local business partner nor the proposed brewery site had been embroiled in land disputes. It also did “extensive outreach with local community leaders/groups”. So far, it says it has not experienced any land-related problems. </p>
                            <p>Some of the causes of Myanmar’s land battles lie very deep. Everyone and no one has responsibility for regulating them. The country has more than 30 land-related laws, going back to when it was part of 19th-century British Imperial India, according to the Land Core Group. </p>
                            <p>More than 20 government agencies have some kind of involvement with land management. Law changes since the military stepped down have made it easier for authorities to seize land that they class as unoccupied, even though communities have traditionally used it for farming, fishing or firewood. A comprehensive land law is still being drafted. </p>
                            <p>Where once authorities drove people off their land at gunpoint, they now tend to use the courts and the language of the rule of law, say activists. </p>
                <aside class="aside">
                    <img src="./images/8116e42f71ba95bb44401f1249dbfc86.jpg">
                </aside>                  
                <figure class="quote-block">
                  <blockquote>‘西式医疗和教育服务贵得离谱’</blockquote>  
                </figure>
            </div>  
        </section>

<!-- section 5 -->
        <section id="nav-target-5" class="section-5 nav-target">
            <div class="section-cover text-over-media">
                <p class="section-head">5. The Winnder and Loser</p>
                <p class="section-lead">‘There is every chance that anyone who buys land will find themselves in a dispute’</p>
            </div>

            <div class="content-column">
              <p>The lingering trail of troubles left by Myanmar’s land battles is nowhere clearer than on the doorstep of Inle Lake, one of the country’s premier tourist attractions in the giant eastern state of Shan. </p>
              <p>Not far from the town of Nyaung Shwe, the gateway to the lake, some villagers are at loggerheads with one of Myanmar’s biggest companies over events that happened more than 15 years ago. </p>
               <p>KBZ is a mining-to-banking conglomerate founded by Aung Ko Win, a high-profile schoolteacher turned tycoon who has shown a great capacity for reinvention. Once sanctioned by the EU for his alleged links to the former junta — US diplomatic cables released by WikiLeaks claim he has acknowledged being close to a senior general and receiving mining concessions through him — he is now rapidly taking advantage of the global appetite for Myanmar. </p>
               <p>Mr Aung Ko Win has ridden out criticism about his past and his company’s activities, including its involvement in the controversial jade industry. In September KBZ formed a partnership with Microsoft to improve its information technology infrastructure. The company’s bank also won an award last year given by The Banker magazine, part of the Financial Times group. </p>
                <aside class="aside">
                    <img src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/inle2_4dqflxb-mr_9kvmmwh.jpg">
                </aside>                  
                <figure class="quote-block">
                  <blockquote>‘西式医疗和教育服务贵得离谱’</blockquote>  
                </figure>
              <p>Farmers near Nyaung Shwe say their land was taken in 1999 by the authorities and given to a trading company that is part of the KBZ empire. Ko Win Oo, a community leader and former pro-democracy activist, says he was one of more than 40 people who lost a combined total of about 78 acres. They were given other land to the north in compensation, but when they got there, other people claimed ownership. </p>
              <p>Mr Ko Win Oo says nothing has been done since then to use the seized land. He and his fellow villagers cannot farm but the holdings lie idle. As Mr Ko Win Oo stands in front of the fields, empty but for a few water buffalo splashing around, he starts to sob. “Since they took all the lands, we farmers can’t do anything about it but cry,” he says. “We can’t do anything but watch. Even if we wanted to, we are not allowed to work on those fields.” </p>
              <p>Few answers are to be found at Nyaung Shwe’s local government land office. It is a Dickensian set-up where clerks mill round desks weighed down by piles of paper. It has no email address and the head of the office did not respond to a written note requesting comment. </p>
              <p>KBZ denies any wrongdoing and says it paid the government for the land, although it could not provide details of the deal. Nyo Myint, a former army engineer and the managing director of the KBZ group of companies, says Mr Aung Ko Win “bid through correct channels for mining prospects and in no way [benefited from] privileged connections”. </p>
             <p>The land was intended as a tourism venture to benefit local communities, he says, and the villagers have been fairly compensated. However, he promised to look into their complaints. “We never grab money and we never grab land. We don’t want to have a bad reputation.” </p>
            </div>  
        </section>
        
        <footer class="story-footer text-over-media">
            <p class="conclusion">‘在中国这片土地上，人人都能纵情于内心深处的马可•波罗情怀’</p>  
        </footer>

 <div class="ad-section">
          <div class="ad-wrapper">
            <p class="caption">广告之后 精彩继续</p>
            <div id="ad-container">I'm Ads</div>
        <div id="ad-storyview2" style="margin:auto;width:300px;height:50px;">
                             <iframe id="storyview1" src="/m/marketing/ad-mobile.html#adtype=banner-bottom-story&adid=storyview2" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="300" height="100%"></iframe>
                        </div>
          </div>
        </div>  
 

    <!-- section 6 -->
        <section id="nav-target-6" class="section-6 nav-target">
            <!--div class="section-cover text-over-media">
                <p class="section-head">6. The Winnder and Loser</p>
                <p class="section-lead">‘There is every chance that anyone who buys land will find themselves in a dispute’</p>
            </div-->

          
            <div class="video-outer">
                <div class="video-inner">
                  <script src="http://p.bokecc.com/player?vid=402E9E7943F29BFD9C33DC5901307461&siteid=922662811F1A49E9&autoStart=false&width=100%&height=100%&playerid=3571A3BF2AEC8829&playertype=1" type="text/javascript"></script>
                </div>
            </div>
       
        </section>
        
     

 <div class="ad-section">
          <div class="ad-wrapper">
            <p class="caption">广告之后 精彩继续</p>
            <div id="ad-container">I'm Ads</div>
        <div id="ad-storyview2" style="margin:auto;width:300px;height:50px;">
                             <iframe id="storyview1" src="/m/marketing/ad-mobile.html#adtype=banner-bottom-story&adid=storyview2" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="300" height="100%"></iframe>
                        </div>
          </div>
        </div>  


  <!-- The end -->    
    <section class="credits text-over-media">

         

          <p>制作团队</p>
          <p>
              <li><p>项目经理:</p></li>
              <li><p>设计暨制作：</h3></li>
              <li><p>编辑：</p></li>
              <li><p>地图：</p></li>
              <li><p>摄影：</p></li>
              <li><p>视频：</p></li>
              <li><p>翻译：</p></li>
              <li><p>中文网站制作：史书华</li>
          </ul>  
            
    </section>
  </main>

  <!-- Related reading -->
    <div class="related-reading">
      <div class="content-column">
          <!--first-->
          <h3>The Great Land Rush</h3>
          <a href="http://www.ft.com/intl/land" target="_blank"><img src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/landrush_xrefpanel.png" data-src755="https://ig.ft.com/sites/land-rush-investment/myanmar/media/landrush_xrefpanel.png" data-src0="https://ig.ft.com/sites/land-rush-investment/myanmar/media/landrush_xrefpanel.png" alt="" title="" data-init-response="https://ig.ft.com/sites/land-rush-investment/myanmar/media/landrush_xrefpanel.png"></a>
          <p>Across continents, big investors are pouring in billions into one of the world's most precious resources – land. They promise progress. But their arrival can upend livelihoods and spark life-and-death struggles. <a href="https://ig.ft.com/sites/land-rush-investment/" target="_blank">Read more</a>  </p>
          <!--second-->
          <a href="https://ig.ft.com/sites/land-rush-investment/ethiopia" target="_blank"><img src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/xref_ethiopia-mr_qoad6xx.jpg" data-src755="https://ig.ft.com/sites/land-rush-investment/myanmar/media/xref_ethiopia-mr_qoad6xx.jpg" data-src0="https://ig.ft.com/sites/land-rush-investment/myanmar/media/xref_ethiopia-lr_g01vust.jpg" alt="" title="" data-init-response="https://ig.ft.com/sites/land-rush-investment/myanmar/media/xref_ethiopia-lr_g01vust.jpg"></a>
          <h3><a href="https://ig.ft.com/sites/land-rush-investment/ethiopia" target="_blank">The billionaire’s farm</a></h3>
          <p>Mohammed al-Amoudi has spent $200m planting a rice farm the size of 20,000 soccer pitches. But old grievances linger in this fertile corner of a land stalked by hunger.  </p>

          <!--third-->
           <a href="https://ig.ft.com/sites/land-rush-investment/indonesia" target="_blank">
          <img src="https://ig.ft.com/sites/land-rush-investment/myanmar/media/xref_indo-mr_8njq2rv.jpg" data-src755="https://ig.ft.com/sites/land-rush-investment/myanmar/media/xref_indo-mr_8njq2rv.jpg" data-src0="https://ig.ft.com/sites/land-rush-investment/myanmar/media/xref_indo-lr_uhx8uq7.jpg" alt="" title="" data-init-response="https://ig.ft.com/sites/land-rush-investment/myanmar/media/xref_indo-lr_uhx8uq7.jpg">
          <h3><a href="https://ig.ft.com/sites/land-rush-investment/indonesia" target="_blank">Saving the earth</a></h3>
          <p>Norway’s government has offered Indonesia a billion dollars to save its rainforests. Now its ministers are heading to the Borneo jungle to see if there is any chance of success.</p>

          <!--final-->
          <a href="http://pulitzercenter.org/builder/lesson/17424" target="_blank"><strong>For related educational material go to the Pulitzer Center on Crisis Reporting</strong></a>


            <li><a href="#">Article Link 1</a></li>
            
      </div>
    </div>


<!-- In this series... -->

    <!-- footer section -->
    <footer class="footer">
        <nav class="footer-nav">
           <ul class="footer-nav-list">
                <li><a href="http://www.ftchinese.com/">首页</a></li>
                <li><a href="http://www.ftchinese.com/channel/china.html">| 中国</a></li>
                <li><a href="http://www.ftchinese.com/channel/world.html">| 全球</a></li>
                <li><a href="http://www.ftchinese.com/channel/economy.html">| 经济</a></li>
                <li><a href="http://www.ftchinese.com/channel/markets.html">| 金融市场</a></li>
                <li><a href="http://www.ftchinese.com/channel/business.html">| 商业</a></li>
                <li><a href="http://www.ftchinese.com/channel/opinion.html">| 观点</a></li>
                <li><a href="http://www.ftchinese.com/channel/management.html">| 管理</a></li>
                <li><a href="http://www.ftchinese.com/channel/lifestyle.html">| 生活时尚</a></li>
            </ul>
        </nav>
        
        <div class="footer-copyright">
            <small>&#xA9; FT中文网 2015.</small>
        </div>

        <div class="footer-pearson">
            <div class="footer-pearson-tagline" aria-label="Always Learning"></div>
            <div class="footer-pearson-logo" aria-label="Pearson"></div>
        </div>       
    </footer>
    <a href="#top" class="to-top"></a>
<!-- build:jquery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- endbuild -->

<!-- Put highcharts.js link here -->

<!-- build:js scripts/bundle.min.js -->
<script src="bower_components/jquery.scrollTo/jquery.scrollTo.js"></script>
<script src="scripts/bundle.js"></script>
<!-- endbuild -->


<!-- build:log -->
<script src=""></script>
<!-- endbuild -->
</body>


</html>