.story-cover {
		background-image: url("../images/hla_own_min_2560-lr_mnsuz50.jpg");
	}

.section-1 {
	.section-cover {
		background-image: url("");
	}
}
.section-2 
	.section-cover {
		background-image: url("https://ig.ft.com/sites/land-rush-investment/myanmar/media/2560_getty_-factory-in-yangon-lr.jpg");
	}

.section-3 
	.section-cover {
		background-image: url("");}

.section-4 
	.section-cover {
		background-image: url("../images/conflict-mr.jpg");}

.section-5
	.section-cover {
		background-image: url("../images/this_famer_2-mr.jpg");}



.story-footer {
	background-image: url("../images/conflict-mr.jpg");
}
.credits {
		background-image: url("https://ig.ft.com/sites/land-rush-investment/myanmar/media/2560_getty_-factory-in-yangon-lr.jpg");
	}